/*
    1 - #B4B6C7
    2 - #676C9B
    3 - #323875
    4 - #0F1550
    5 - #02062A
*/
:root{
    --container-height: 60vh;
}

#background-element{
    height: 100vh;
    left: 5%;
    top: 10%;
    transform: rotate(-45deg);
    position: fixed;
    z-index: 0;
}

.credits{
    float:right;
    font-size: 14px;
    font-family: monospace;
    color:#B4B6C7;
    padding: 16px 48px;
    text-align: right;
}
.credits > a{
    color: inherit;
}

.root{
    align-items: center;
    justify-content: center;
    display: flex;
    height:calc(100% - 48px);
    padding: 16px;
    width: 100vw;
}
div#options{
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 128px;
    width: 256px;
    z-index: 1;
}

div#options > button{
    background: #676C9B;
    border: none;
    border-radius: 6px;
    color: #edeef4;
    font-size: 18px;
    font-family: monospace;
    margin-bottom: 32px;
    padding: 16px;
    transition-duration: .3s;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
div#options > div > span{
    font-size: 18px;
    font-family: monospace;
}

div#options > button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: .3s;
}

div.range-slider-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}



.grid{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display:flex;
    flex-direction: column;
    height: calc(var(--container-height) - 2px);
    z-index: 1;
}

.grid > div {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    width: 100%;
    height:100%;
}

.grid > div > div{
    align-items: center;
    justify-content: center;
    background: #B4B6C7;
}


/*
    BOILERPLATE
*/
* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #edeef4;
	color: #02062A;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
    height: 100vh;
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}